<nav class="navbar navbar-dark bg-faded justify-content-center sticky-top navbar-expand-lg">
  <div class="container pl-3">
    <div class="d-inline col-md-4 col-sm-8 justify-content-left">
      <a class="navbar-brand d-inline" href="/{% if site.defaultLang != site.lang %}{{ site.lang }}{% endif %}">
          <img class="brand-logo lazy" src="/assets/main/duck_tank.png">EKA2L1</img>
      </a>
    
      <select class="langpick col-md-3" style="margin-left: 2px"; data-width="fit">
        {% for lang in site.languageNames %}
          <option value='{{site.baseurl_root}}{% if lang[0] != site.defaultLang %}/{{ lang[0] }}{% endif %}{{ page.url }}'
            {% if site.lang == lang[0] %}selected{% endif %}>{{ lang[1] }}</option>
        {% endfor %}
      </select>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Expand">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
                {%- for link in site.data.navigation.main -%}
                <li class="nav-item">
                    <a class="nav-link" href="{% if site.defaultLang != site.lang %}{% unless (link.url contains '://') %}/{{site.lang}}{% endunless %}{% endif %}{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>
                    {% if link.title[site.lang] %}
                        {{ link.title[site.lang] }}
                    {% else %}
                        {{ link.title['en'] }}
                    {% endif %}</a>
                </li>
                {%- endfor -%}
        </ul>

        <div class="navbar-divider d-none d-lg-block">&nbsp;</div>
        <ul class="navbar-nav nav-right justify-content-end">
          <li class="nav-item nav-link d-flex align-items-center">
            <input type="checkbox" class="toggle-checkbox" id="toggle-checkbox" autocompleted>
            <label for="toggle-checkbox" class="toggle-label">
              <i class="fas fa-sun"></i>
              <i class="fas fa-moon"></i>
              <span class="toggle-label-ball"></span>
            </label>
          </li>
        </ul>
    </div>
  </div>
</nav>